.addphoto {
    width: 180px;
    height: 270px;
    border: solid 1px var(--white-three);
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    cursor: pointer;
    &:hover{
        background-color: var(--white)
    }
}
.addphoto-edit{
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
    .addphoto-image{
        display: flex;
        align-content: center;
        text-align: center;
        margin-bottom: 10px;
    }
    .addphoto-imageURL{
        width:180px;
        height: 270px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding:0px;
        &:focus, &:active{
            outline:none ;
            box-shadow: none;
        }
    }

    
    .button-close{
        position: absolute;
        width: 180px;

        .button-close-edit{
            position: relative;
            float: right;
            width: 24px;
            height: 24px;
            object-fit: contain;
            background-color: none;
            margin-right: 2%;
            margin-top: 3%;
        }
    }


}

.addphoto-text {
    width: 180px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: normal;
    color: var(--greyish);
    
    
}