.pageHeader{
    width: 100%;
    height: 123px;
    --white: #ffffff;
    --greyish-two: #b7b7b7;
    --greyish-brown: #4d4d4d;
    --pale-orange: #ffa15f;
    --pinkish-grey: #cccccc;
    --dark-grey: #202124;
    position: relative;
}

.header-1{
    width: 100%;
    height: 60%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
    background-color: var(--white);
}
.container-header{
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

.search-input{
    position: absolute;
    width: 181px;
    height: 35px;
    margin-top: 21px;
    border-radius: 17px;
    border: 1px solid  var(--greyish-two);;
}

.search-text {
    width: 120px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.75;
    letter-spacing: normal;
    color: var(--pinkish-grey);
    border: none;
    background: none;
    float: left;
    outline: none;
    padding: 0;
    margin-left: 20px;
    margin-top: -3px;
}

.search-button{
    float: right;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-search{
    margin-top: 5px;
    margin-right: 10px;
    object-fit: contain;
    opacity: 0.6;
  
}

.register-btn{
    margin-top:22px;
    display:flex;
    font-family: Montserrat;
}
.register-text{
    padding: 5px;
    padding-right: 30px;
    &:hover{
        cursor: pointer;
    }
}

.register {
    width: 59px;
    height: 22px;
    margin-right: 20px;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: var(--greyish-brown);
    text-decoration: none;

}

.button-login{
    float: right;
    width: 120px;
    height: 35px;  
    border-radius: 100px;
    border: solid 1px var(--pale-orange);
    background-color: var(--white);
    outline:none;  
    &:focus, &:active{
        outline:none ;
        box-shadow: none;
    }
}
.button-text{
    font-family: Montserrat;
    color: #ff7e24;
}

.edit-header{
    display: flex;
    height: 20px;
    justify-content: space-between;
}

.logo{
    margin-top:20px;
    margin-left:23%;
}
.logo-icon{
    margin-top:5px;
    margin-left:25px;
    object-fit: contain;
}

.header-2{
    width: 100%;
    height: 45px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
    background-color: var(--white); 
    text-align: center;
  
}


.ul-menu{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding:0px;
    li{
        display: inline-block; 
        padding:10px;
        span{
            width: 32px;
            height: 22px;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;
            letter-spacing: normal;
            color: var(--dark-grey);
        }
    }
}


.dropdown{
    position: relative;
    &:hover .dropdown-content {
        display: block;
    }
}

.dropdown-head{
    display: inline-block; 
}

.dropdown-content{
    display:none;
    padding: 0px;   
    text-align: center;
    width: 620px;
    height: 55px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    border: solid 0.5px #eaeaea;
    background-color: #fbfbfb;
    position: absolute;
    a {
        float: none;
        text-decoration: none;
        display: inline-block;
        text-align: left;
        width: auto;
        height: 22px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: normal;
        text-align: center;
        color: var(--dark-grey);
        padding:10px;  
    }    
}
.dropdown-characters{
    display: flex;
    justify-content: space-between;
    margin-left: -3px;
}
.dropdown-edit{
    margin-left: -310px;
   
}