
.Login{
    width: 555px;
    height: 568px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.03);
    background-color: var(--white);
    position: relative;
    font-family: Montserrat;
}

.Login-Modal-main{
    position: absolute;
    justify-content: center;
    width: 555px;
    height: 568px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.03);
    background-color: var(--white);
 }