.addproduct{
    position: inherit;
    width: 100%;
    
    
}

@mixin text-header($width,$height,$font-size,$font-weight,$line-height,$color){
    width: $width;
    height: $height;
    font-family: Montserrat;
    font-size: $font-size;
    font-weight: $font-weight;
    font-style: normal;
    font-stretch: normal;
    line-height: $line-height;
    letter-spacing: normal;
    color: $color;
}

@mixin label-text-input($top,$margin-left){
    
    position: absolute;
    text-transform: uppercase;
    top:$top;
    margin-left:$margin-left;
        width: 39px;
        height: 14px;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: right;
        color: var(--dark-grey);
}

@mixin addproduct-label-input{
    text-transform: uppercase;
    width: auto;
    height: 14px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: right;
    color: var(--dark-grey);
}

.addproduct-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top:2%;
    padding-left:2%;
}

.addproduct-header-text-up {
    @include text-header(186px,36px,28px,bold,1.29,var(--dark-grey))
}

.addproduct-header-text-down {
    @include text-header(175px,20px,14px,500,1.43,var(--dark-grey))
}

.addproduct-header-right-icon{
    padding-right:30px;
}

.addproduct-main{
    width: 780px;
    padding-top:50px;
    margin-right: auto;
    margin-left: auto;
}
.addproduct-photo{
    display: flex;
    justify-content: space-between;
    width: 780px;
}
.addproduct-photo-text{
    @include label-text-input(20.2%,-80px);
}
.addproduct-photo-element{
    width: 180px;
    height: 270px;
}

.condition-text{
    width: 532px;
    height: 20px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--greyish);
    padding-top:1em;
    padding-bottom: 4em;
}

.addproduct-label{
    width: 186px;
    display: flex;
    flex-direction: column;
    float: left;
    height: 80%;
    justify-content: space-around;
    .addproduct-label-photo{
  
        text-align: right;
    }
    .addproduct-label-photo-text{
        @include  addproduct-label-input;
    }
    ul{
        display: flex;
        flex-direction: column;
        text-align: right;
        justify-content: space-between;
        li{
            @include  addproduct-label-input;
        }
    }
}

.addproduct-distance-input{
    padding-top:25px;
}

.addproduct-photo-text-name{
    @include label-text-input(38%,-93px);
}
.addproduct-photo-text-category{
    @include label-text-input(43.5%,-93px);
}
.addproduct-photo-text-brand{
    @include label-text-input(48.5%,-93px);
}
.addproduct-photo-text-price{
    @include label-text-input(53.5%,-93px);
}

.addproduct-photo-text-size{
    @include label-text-input(58.5%,-93px);
}
.addproduct-photo-text-colors{
    @include label-text-input(35%,-93px);
}

.addproduct-photo-text-quantity{
    @include label-text-input(35%,-93px);
}

.addproduct-photo-text-description{
    @include label-text-input(35%,-93px);
}


