
.Signup{
    width: 555px;
    height: 703px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.03);
    background-color: var(--white);
    position: relative;
    font-family: Montserrat;
}

.Signup-Modal-main{
   position: absolute;
   justify-content: center;
   width: 555px;
   height: 703px;
   box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.03);
   background-color: var(--white);
}

.Signup-Modal-content{
    position: relative;
    display: block;
    width: 284px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-grey);
    padding-top:40px;
    padding-bottom: 30px;
}

.Signup-Modal-Footer-content li p{
    font-weight: bold;
    color: var(--pumpkin-orange);
    border-bottom: 1px solid var(--pumpkin-orange);
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding:0px;
}
.signup-button-cross{
    position: relative;
    float: right;
    width: 24px;
    height: 24px;
    object-fit: contain;
    background-color: none;
    margin-right: 3.4%;
    margin-top: 4.2%;
}

.signup-register{
    width: 141px;
    height: 42px;
    position: relative;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:47px;
}

.signup-register-text{

  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-grey);
  display: flex;
}

.text-register{
    width: 71px;
    height: 24px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);
    margin-left: auto;
    margin-right: auto;
    
}

.signup-form{
    position: relative;
    width: 395px;
    height:542px;
    margin-left: auto;
    margin-right: auto;
    padding-top:5%;
}

.signup-form-general{
    width: 395px;
    height: 72px;
}

.edit-form{
    margin-top:25px;
}



.signup-form-label{
    width: 39px;
    height: 18px;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--dark-grey);
}

.signup-form-input{
    position: relative;
    width: 395px;
    height: 46px;
    background-color: var(--white-two);
}

.signup-form-input-border{
    border: solid 1px var(--greyish-two);
}


.signup-form-input-text{
    white-space: nowrap;
    width: 350px;
    height: 43px;
    background-color: var(--white-two);
    border:none;
    margin-left: 20px;
    padding:0px;
    outline: none;
}

.condition-password{
    width: 248px;
    height: 22px;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.2;
    letter-spacing: normal;
    color: #808080;
    display: block;
    transition:.5s;
}



input::-webkit-input-placeholder{
    width: 128px;
    height: 22px;
    opacity: 0.3;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: var(--greyish-brown);
    
}

.signup-button{
  width: 395px;
  height: 49px;
  margin-top:65px;
  background-color: var(--white-four);
  position: relative;
}

.signup-button-content{
    width: 395px;
    height: 49px;
    background-color: var(--white-four);
    padding:0px;
    border:none;
    display: flex;
    text-align: center;
}

.signup-button-change-color{
    background-color: var(--pale-orange);
}



.Signup-Modal-Footer{
    position: relative;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5em;
    border-top: .5px solid var(--greyish-two);
    justify-content: center;
}

.Signup-Modal-Footer-content{
    display: flex;
    justify-content: center;
}

.Signup-Footer-ul-li{
 width: auto;
  height: 22px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: var(--greyish-brown);
}

 .color{
    font-weight: bold;
    color: var(--pumpkin-orange);
    border-bottom: 1px solid var(--pumpkin-orange);

}


.signup-error{
    border: solid 1px var(--strawberry);
    background-color: rgba(246, 63, 69, 0.04);
}

.signup-error-condition-text-show{
    display:none;
}

.signup-error-text{
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.2;
    letter-spacing: normal;
    color: var(--strawberry);
}