body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --white: #ffffff;
  --white-two: #f6f6f6;
  --greyish-two: #b7b7b7;
  --greyish-brown: #4d4d4d;
  --pale-orange: #ffa15f;
  --pinkish-grey: #cccccc;
  --dark-grey: #202124;
  --pumpkin-orange: #ff7413;
  font-family: Montserrat;
  --white-four:#d4d3d3;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

