.forminputproduct{
  display: flex;
    .forminputproduct-text{
     
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: normal;
        color: var(--charcoal-grey);
        padding-left:20px;
      }

    input {
        width: 780px;
        height: 48px;
        border-radius: 2px;
        border: solid 1px var(--white-three);
        background-color: var(--white);
    }

  img{
    position: absolute;
    right:240px;
  }
}